.formRegister {
  width: 300px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 8px 32px 0 #0e1116;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
h2 {
  text-align: center;
  font-size: 2rem;
  color: #fdfffc;
}
.text-danger {
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .formRegister {
    width: 500px;
  }
  .formRegister input {
    font-size: 20px;
    padding: 10px;
  }
  h2 {
    font-size: 2.5rem;
  }
  .formRegister button {
    font-size: 20px;
    padding: 5px 15px;
  }
  .nav-link,
  .navbar-brand {
    font-size: 35px;
  }
  .text-danger,
  .text-light {
    font-size: 25px;
    font-weight: 700;
  }
}
