.container-form {
  width: 100%;
  min-height: calc(100vh - 56px);
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-login {
  width: 300px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 8px 32px 0 #0e1116;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
h2 {
  padding: 0 5px;
  text-align: center;
  font-size: 2.3rem;
  color: #fdfffc;
}

@media screen and (min-width: 1024px) {
  .form-login {
    width: 500px;
  }
  .form-login input {
    margin-top: 15px;
    font-size: 20px;
    padding: 10px;
  }
  h2 {
    font-size: 2.5rem;
  }
  .form-login button {
    font-size: 20px;
    padding: 5px 15px;
  }
  .nav-link,
  .navbar-brand {
    font-size: 25px;
  }
}
