.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
}
.profile_container {
  width: 90vw;
  min-height: 180px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 #111;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}
.profile_image {
  position: relative;
}
.profile_image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  transition: 0.5s ease-in-out all;
}
.profile-text {
  padding-left: 15px;
}
.profile-text h3 {
  font-size: 15px;
}
.profile-text p {
  font-size: 13px;
  word-break: break-all;
}
.profile-text small {
  text-align: left;
  font-size: 11px;
}
.profile_image:hover img {
  opacity: 0.4;
}
.profile_image:hover .overlay {
  opacity: 1;
}
.overlay {
  transition: 0.5s ease;
  opacity: 0.85;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.icons {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.iconsColor {
  color: #f04;
}
.camera-icons {
  color: #888;
}

@media screen and (min-width: 700px) {
  .profile_container {
    width: 550px;
    height: 300px;
    padding: 0;
  }
  .profile_image img {
    width: 170px;
    height: 170px;
  }
  .profile-text h3 {
    font-size: 28px;
  }
  .profile-text p {
    font-size: 25px;
  }
  small {
    font-size: 18px;
  }
  .camera {
    width: 45px;
    height: 45px;
  }
}
